front/dist
front/node_modules
__debug_bin.exe
go.sum
horizon-ui-chakra-ts-main/modules
test.txt
.vscode
.next
app.go
front/basic.c
front/basic.cc
.gitignore
front/CHANGELOG.md
front/main
database.db
database.db
